﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.Title</title>

    <meta name="description" content="@ViewBag.Description" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="robots" content="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/normalize.css" rel="stylesheet" />
    <link href="~/Content/img/logooicon.jpg" rel="shortcut icon" />
    <link href="~/Content/img/logooicon.jpg" rel="image_src" />
</head>

<body>
    <section id="container">
        <header>
            <a href="/" target="_blank">
                <div id="logo"></div>
            </a>
            <div id="social-media">
                <a href="#">
                    <div class="social share"></div>
                </a>
                <a href="http://youtube.com/" target="_blank">
                    <div class="social youtube"></div>
                </a>
                <a href="http://twitter.com/" target="_blank">
                    <div class="social twitter"></div>
                </a>
                <a href="http://facebook.com/" target="_blank">
                    <div class="social facebook"></div>
                </a>
            </div>

        </header>
        <nav>
            <a href="/Siparis/Create">
                <div class="nav-item first">
                    <span>Pizza Çeşitleri </span>
                </div>
            </a>
            <a href="/Siparis/Create">
                <div class="nav-item">
                    <span>Hızlı Sİpariş</span>
                </div>
            </a>
            <a href="/Siparis/Create">
                <div class="nav-item ">
                    <span>Hakkımızda</span>
                </div>
            </a>

            <a href="/Siparis/Create">
                <div class="nav-item last">
                    <span>Üye Ol/Üye Giriş</span>
                </div>
            </a>
            
        </nav>
    

        <section id="content">
            @RenderBody()
        </section>

        <footer>
            <small>2018&copy; PizzaT Ltd. | :)</small>
        </footer>
    </section>
    <script type="text/javascript">
        $(function () {

            var jmpressOpts = {
                animation: { transitionDuration: '0.8s' }
            };

            $('#jms-slideshow').jmslideshow($.extend(true, { jmpressOpts: jmpressOpts }, {
                autoplay: true,
                bgColorSpeed: '0.8s',
                arrows: false
            }));

        });
    </script>
    @RenderSection("scripts", required: false) @*arama motoru için bu kısmı unutma*@


</body>
</html>
