﻿@model PizzaSiparis.Siparis

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SİPARİŞ OLUŞTUR</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="pizzas ">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.LabelFor(model => model.adiSoyadi, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.adiSoyadi, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.adiSoyadi, "", new { @class = "text-danger" })
        </div>



        @Html.LabelFor(model => model.tel, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
        </div>



        @Html.LabelFor(model => model.adres, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.adres, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.adres, "", new { @class = "text-danger" })
        </div>



        @Html.LabelFor(model => model.pizzaID, "Pizzanı Seç", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("pizzaID", null, htmlAttributes: new { @class = "form-control input-lg" })
            @Html.ValidationMessageFor(model => model.pizzaID, "", new { @class = "text-danger" })
        </div>



        @Html.LabelFor(model => model.icecekID, "İçeceğini Seç", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("icecekID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.icecekID, "", new { @class = "text-danger" })
        </div>



        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="TAMAMLA" class="btn btn-default" />
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
