﻿@model PizzaSiparis.Siparis

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Siparis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adiSoyadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adiSoyadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Icecek.icecekAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Icecek.icecekAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Pizza.pizzaAdı)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pizza.pizzaAdı)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.siparisID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
