﻿@model IEnumerable<PizzaSiparis.Siparis>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.adiSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adres)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icecek.icecekAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pizza.pizzaAdı)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.adiSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icecek.icecekAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pizza.pizzaAdı)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.siparisID }) |
            @Html.ActionLink("Details", "Details", new { id=item.siparisID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.siparisID })
        </td>
    </tr>
}

</table>
