﻿/*@import url(normalize.css)*/
body {
    font-family: 'Open Sans', sans-serif; /*font tipi */
    font-size: 14px; /*font büyüklüğü */
    background: url(/Content/img/background.png); /*arkaplan resmi*/
    overflow-y: scroll; /*kaydırma çubuğu her zaman görünür olsun*/
    cursor: default; /*fare imleci her zaman varsayılan şekilde görülsün*/
    color: #1c3564; /*metin rengi*/
}

a {
    text-decoration: none; /*bağlantıların altın çizili olmasın*/
    color: white; /*bağlantı renkleri beyaz olsun*/
}

#container { /*bütün içerik bu bölümde*/
    width: 928px; /*genişlik*/
    padding: 13px 16px; /*yukarı-aşağı 13px; sağa-sola 16px;*/
    position: relative;
    margin: auto; /*position:relative ve margin:auto kombinasyonu ile bu nesneyi sayfamızda yatayda ortaladık */
    margin-top: 13px; /*yukarı boşluk*/
    box-shadow: 0 0 10px #FFCC66; /*nesne gölgelendirmesi.yatayda ve dikeyde kaydırma yapmadık. 10px blur verdik.rengi ise metin rengi ile aynı*/
    border-radius: 0 26px; /*kenarlık yumuşatması */
    background: white; /*arkaplan rengi*/
}

/* *** header*** */

header {
    width: 928px; /*genişlik*/
    height: 140px; /*yükseklik*/
    position: relative;
}
/*logo*/
#logo {
    width: 400px; /*genişlik*/
    height: 140px; /*yükseklik*/
    position: relative;
    float: left; /*position:relative;float:left; kombinasyonu ile logo divini sola yasladık.*/
    background: url(/Content/img/logoo.jpg); /*arka plan görseli*/
    transition: opacity .3s ease-in-out; /*logonun üzerine gelince sefaflığı için geçiş efekti uyguladık*/
    cursor: pointer; /*logonun üzerine gelince fare el şeklinde olur*/
}

    #logo:hover {
        opacity: .8; /*logonun üzerine gelince şefaflığı yüzde 20 oranında azalacak*/
    }
/*social media*/
#social-media {
    height: 48px;
    position: absolute;
    margin-top:30px;
    margin-right:30px;
    top: 0;
    right: 0; /*position:absolute top:right:0 ile bu nesneyi headerin sağ üzt kısmına yerleştirdik*/
}

.social {
    width: 48px;
    height: 48px;
    position: relative;
    float: right; /*ikonların yerini değiştirebiliriz. Örn:left*/
    margin-left: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

    .social:hover {
        border-radius: 0 26px;
        box-shadow: 0 0 4px orange; /*sosyal medya ikonlarının üzerlerine gelince kenarları yumuşayacak ve turuncu gölge efekti oluşacak*/
    }

.facebook {
    background: url(/Content/img/facebook.png);
}

.twitter {
    background: url(/Content/img/twitter.png);
}

.youtube {
    background: url(/Content/img/youtube.png);
}

.share {
    background: url(/Content/img/share.png);
}

.rss {
    background: url(/Content/img/rss.png);
}

/* *** nav*** */

nav {
    width: 928px;
    height: 40px;
    line-height: 40px; /*metinleri dikeyde ortaladık.height değeri aynı olduğu sürece*/
    text-align: center; /*metinleri merkezde ortaladık*/
    position: relative;
    margin: 15px 0; /*yukar-aşağı 15px boşluk ve sağa-sola boşluk olmasın*/
    box-shadow: 0 0 4px orange; /*menünün gölgelendirmesi merkezde olsun.4px bulanık olsun ve gölge rengi turuncu olsun*/
    border-radius: 0 12px; /*kenerlar genel hatlara uyumlu olarak 12px yumuşasın.*/
    background: white; /*arka plan rengi*/
    cursor: pointer; /*fare imleci menünün üzerine gelince el şekli gözükür.bağlanti olduğu anlaşılır*/
}

.nav-item {
    width: 245px;
    height: 40px;
    position: relative;
    float: left; /*position relative ve float left ile nav-item nesnelerini 'nav' içinde sola yasladık*/
    border-right: 1px #ffcc66; /*sağa 1px lik turuncu kenarlık oluşur*/
    background: orange;
    color: white;
    transition: all .3s ease-in-out; /*geçiş süresi*/
}

.first {
    border-radius: 0 0 0 12px;
    width: 192px;
}

.last {
    border-radius: 0 12px 0 0;
    border: 0;
}

.nav-item:hover {
    box-shadow: 0 0 12px #ffcc66 inset; /*nesnenin üzerine gelindiği zaman 12 px blurlu içe dönük turuncu gölgelendirme uyguladık*/
}


/* ***content*** */ /* sayfa içerik kısmı*/
#content {
    width: 928px;
    height:500px;
    position: relative;
}

.content-text {
    text-align: justify; /* metin iki yana yaslandı. */
}

    .content-text h1 {
        text-align: center; /* başlık ortalandı. */
        font-size: 22px;
    }

    .content-text h2 {
        text-align: center; /* başlık ortalandı. */
        font-size: 22px;
    }

    .content-text h3 {
        text-align: center;
        font-size: 20px;
    }

.img-left {
    width: 140px;
    position: relative;
    float: left; /* görsel metin içinde sola hizalandı. */
    margin: 0 15px 15px 0; /* görselin metinle içiçe geçmesi sorunu düzeltildi. */ /* yukarı ve sola dış boşluk vermedik. sağa ve aşağı 15px boşluk verdik. */
}

.img-right {
    width: 140px;
    position: relative;
    float: right;
    margin: 0 0 15px 15px;
}

/* homepage references */

#homepage-references {
    width: 928px;
    height: 580px;
    position: relative;
    margin: 0 auto 15px auto;
}

    #homepage-references h2 {
        text-align: center;
        font-size: 22px;
    }

/* slider */


#pizzas {
    width: 928px;
    height: 304px;
    position: relative;
}

.pizzas { /*filmlerin olduğu pencereler*/
    width: 189px;
    padding: 15px;
    height: 280px;
    position: relative;
    float: left;
    margin-left: 12px;
    text-align: center;
    background: #FFCCCC;
    border-radius: 0 26px;
    border: 2px solid #FFCCCC;
    box-shadow: 0 0 10px orange;
    transition: all .3s ease-in-out;
}

    .pizzas:first-child {
        margin-left: 0;
    }

    .pizzas:hover {
        border-radius: 0 39px;
        box-shadow: 0 0 10px #c0c0c0;
    }

.pizzas-img {
    position: relative;
    margin: auto;
    width: 170px; /*resim ort*/
}

.pizzas h2 {
    font-size: 18px;
}

.pizzas-button {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    position: relative;
    margin: 15px auto;
    color: white;
    background: #FF9999;
    border-radius: 0 8px;
    box-shadow: 0 0 2px #ffcccc inset;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

    .pizzas-button:hover {
        box-shadow: 0 0 10px 4px #c0c0c0 inset;
        border-radius: 0 12px;
    }


/* *** footer***  */ /*büyük bir bölüm olduğu için üç yıldız kullanılır*/
footer {
    width: 928px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: relative;
    margin: 0;
    box-shadow: 0 0 4px #ffcc66;
    border-radius: 0 12px;
    background: orange;
    color: white;
}



/* *** alt sayfalar*** */

/*hakkımızda*/
.img-left-box {
    width: 240px;
    height: 195px;
    position: relative;
    float: left;
    margin: 0 15px 15px 0;
    cursor: pointer;
}

/*en cok izlenenler*/
.en-cok-izlenenler {
    width: 902px;
    padding: 0 10px;
    position: relative;
    margin: auto;
    margin-bottom: 15px;
}

.tile {
    width: 190px;
    padding: 15px 10px;
    height: 220px;
    position: relative;
    float: left;
    margin-left: 15px;
    margin-bottom: 15px;
    text-align: center;
    background: #ffcccc;
    border-radius: 0 26px;
    border: 2px solid orange;
    transition: all .4s ease-in-out;
}

    .tile h3 {
        font-size: 14px;
        color: #1c3564;
    }

    .tile:nth-of-type(4n+1) { /*film divlerinin tek satıda 4 tane olmasını sağlar*/
        margin-left: 0; /*yan yan hizalar*/
    }

.tile-img {
    width: 180px;
    height: 120px;
    position: relative;
    margin: auto;
    border-radius: 0 12px;
    box-shadow: 0 0 2px 1px #c0c0c0;
    transition: all .4s ease-in-out;
}

.tile-button {
    width: 80px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    position: relative;
    margin: 3px auto;
    color: white;
    background: #FF9999;
    border-radius: 0 8px;
    box-shadow: 0 0 2px #ffcccc inset;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

    .tile-button:hover {
        box-shadow: 0 0 10px 4px #c0c0c0 inset;
        border-radius: 0 10px;
    }
    .active {                            /*pizzaların hareketini sağlıyorlar script kodları sayesinde*/
        border-radius: 0 36px;
        transition: all .4s ease-in-out;

    }
    .active:hover.tile-img{
        border-radius: 0 26px;
    }
    .passive {
        border-radius: 0 16px;
        box-shadow: 0 0 80px 10px white inset;
        transform: scale(.9);
        -webkit-transform: scale(.9);
        transition: all .4s ease-in-out;
    }
    /*üye ol/giriş*/


#sing-up-form {
    width: 440px;
    padding: 20px;
    position: relative;
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 2px orange;
    border-radius: 0 26px;
    overflow: hidden;
    background: #FCDFFF;
}

.sing-up-line { /*üye giriş formunda satır kısmı*/
    width: 440px;
    height: 36px;
    line-height: 36px;
    position: relative;
    margin-top: 8px;
    
}
.sing-up-col1 { /* üye giriş formundaki sütün kısmı*/
    width: 120px;
    height: 36px;
    position: relative;
    float: left;
    font-weight: bold;
   

}
.sing-up-col2 {
    width: 320px;
    height: 36px;
    position: relative;
    float: left;
    font-weight: bold;
 
}
.obligation-button {/* uye giriş butonu*/
    width: 200px;
    height: 26px;
    line-height: 20px;
    position: relative;
    float: right;
    font-size: 12px;
    top: 0;
    right: 0;
    text-align: center;
    border-radius: 0 8px;
    background:  #F778A1;
    cursor: pointer;
    color: white;
    outline: none;

}
.input {
    width: 316px;
    height: 30px;
    position: relative;
    float: left;
    outline: none;
    border-radius: 0 12px;
    font-size: 16px;
    text-indent: 10px;
    border-color: transparent;
    box-shadow: 0 0 1px 1px #FBBBB9;
    transition: all .3s ease-in-out;

}
.sing-up-button {
    width: 80px;
    height: 32px;
    line-height: 24px;
    position: relative;
    float: right;
    top: 10px;
    right: 0;
    text-align: center;
    border-radius: 0 12px;
    background: #F778A1;
    cursor: pointer;
    color: white;
    outline: none;
}